.contact-img {
  flex: 1 1;
  display: flex;
  justify-content: center;
}

.contact-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.contact-info p {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.contact-info-row {
  display: flex;
  margin: 0 1.2rem 1.2rem 0;
}

.column-wide {
  flex: 1 0;
}

.column-narrow {
  flex: 1 1;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 430px) {
  .contact-wrapper {
    display: block;
  }

  .p-2 {
    padding: 0;
  }

  .contact-img {
    margin: 1.2rem 0 0 0;
  }
}

@media screen and (max-width: 700px) {
  
  .contact-wrapper {
    display: block;
  }

}