@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

html {
    box-sizing: border-box;
    font-size: 14px;
}

body {
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background: linear-gradient(30deg,#80D8FF, rgb(206, 240, 255));
    color: rgba(0,0,0,0.85);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', Times, serif;
}

p {
    line-height: 1.7em;
    font-size: 1rem;
}

ul {
    padding: 0 20px;
}

ul li {
    padding: 5px 0;
}

.container a {
    text-decoration: none;
    color: #000;
    z-index: 3;
    position: relative;
}

.container a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(58, 127, 180);
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.15s;
}

.container a:hover::after {
    height: 100%;
    z-index: -1;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 3.2rem;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.container {
    margin: 20px auto;
    padding: 50px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.topbar {
    background: rgba(255,255,255,0.85);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-top: 5px solid #01579B;
}

.topbar .wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo {
    display: inline-block;
    margin-right: 10px;
    flex: 1 0 auto;
}

.nav {
    flex: 0 1 auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
}

.nav li a {
    padding: 15px 10px;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

.dash {
    width: 20px;
    height: 3px;
    background: rgba(0,0,0,0.5);
    margin: 10px auto;
}

.dash.left {
    margin: 10px 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


table {
    flex: 1 0 auto;
}

#msg {
    width: 100%;
    height: 200px;
    resize: none;
    box-sizing: border-box;
}

form {
    margin: auto;
    flex: 1 0 50%;
}

form .controls {
    padding: 10px 0;
}

.controls {
    display: flex;
    justify-content: center;
}

.controls .btn {
    min-width: 150px;
    padding: 5px;
    margin: 3px;
    border: 2px solid black;
    font-size: 1.3em;
    background-color: white;
    color: black;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.controls .btn span {
    position: relative;
    z-index: 30;
    transition: all 0.25s;
    color: black;
    font-size: 1.2rem;
}

.controls .btn:after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    transition: all 0.25s;
}

.controls .btn:hover:after {
    height: 100%;
    top: 0;
    background-color: black;
}

.btn:hover span {
    color: white;
}

.output {
    margin-bottom: 20px;
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.output .flex-row {
    width: 100%;
}

#progressBar {
    align-self: center;
    text-align: right;
    margin-left: 5px;
    height: 5px;
    font-size: 0.8rem;
    transition: all 0.25s;
    width: 0;
    position: relative;
    background-color: rgba(0,0,0,0.2);
    color: white;
}

#progressBar.empty {
    width: 0;
}

#progressBar.complete {
    background-color: lightgreen;
}

#outputText {
    opacity: 1;
}

.float-right {
    float: right;
}

.blink {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(128, 12, 12);
    transition: all 0.25s;
    margin: 5px;
    margin-bottom: 15px;
}

.blink.on {
    background-color: rgb(204, 22, 22);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.blink.off {
    background-color: rgba(0,0,0,0.2);
}

#character-display {
    text-align: center;
    font-size: 1.6rem;
    display: inline-block;
}

footer {
    background: rgba(0,0,0,1);
    color: #fff;
    text-align: center;
    margin-top: 50px;
    min-height: 100px;
}


footer .wrapper {
    display: flex;
    align-content: center;
}

.copyright {
    margin-top: 40px;
    flex: 1 0 auto;
}

@media screen and (max-width: 950px) {

    .wrapper {
        max-width: 650px;
    }

    .flex-row {
        display: block;
    }

    .output .flex-row {
        display: flex;
    }

    .flex-row.tables {
        display: flex;
    }

}

@media screen and (min-width: 950px) {

    .flex-row > div {
        flex: 1 0 auto;
        box-sizing: border-box;
    }

    #outputText {
        flex: 0 1 auto;
    }

    #progressBar {
        flex: 1 1 auto;
    }

    .tables-wrapper {
        margin-left: 15px;
    }

    .tables-wrapper .dash {
        display: none;
    }

    #msg {
        height: 350px;
    }

}

@media screen and (min-width: 1200px) {

    .wrapper {
        max-width: 1200px;
    }

}